{% extends 'login/base.html' %}
{% block titulo %} Registro de Autos {% endblock titulo%}

{% block contenido %}
{% load crispy_forms_tags %}  
<body>
  <div class="container text-center pt-5">
    <div class='jumbotron'>
      <h1>Formulario Auto</h1>
      <center>
        
          <div class="text-left" style="max-width:700px">
            <form method="POST" class="mt-2"  enctype="multipart/form-data">
              {% csrf_token %}
              {{form|crispy}}    
              <div class="form-gruop mx-auto text-center">
                <button class="btn btn-primary btn-lg" type="submit">Guardar</button>
                <a class="btn btn-success btn-lg" href="{% url 'inicio:inicio' %}">Cancelar</a>
              </div>
              <br>
            </form>
          </div> 
        
      </div>
    </center>
  </div>
</div>
{% endblock contenido %}